@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground dark:bg-neutral-900 dark:text-neutral-100;
		font-family: "Source Sans 3", sans-serif;
	}
	.radial-bg {
		background: rgb(71, 85, 105);
		background: radial-gradient(circle, rgba(71, 85, 105, 0.8) 0%, rgba(30, 41, 59, 0.8) 100%);
	}

	::-webkit-scrollbar-thumb {
		background-color: #888; /* Set the color of the scrollbar thumb */
		border-radius: 6px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #555; /* Set the color of the scrollbar thumb on hover */
	}

	::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.1); /* Lighter gray track background */
		border-radius: 6px;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	}

	::-webkit-scrollbar {
		width: 8px; /* Set the width of the scrollbar */
		height: 8px;
	}
}

/* --glow-color: rgb(217, 176, 255);
	--glow-spread-color: rgba(191, 123, 255, 0.781);
	--enhanced-glow-color: rgb(231, 206, 255);
	--btn-color: rgb(100, 61, 136);
*/
.glow-button {
	--glow-color: rgb(68, 195, 66);
	--glow-spread-color: rgba(28, 154, 26, 0.781);
	--enhanced-glow-color: rgb(94, 197, 93);
	--btn-color: rgb(12, 92, 12);

	border: 0.25em solid var(--glow-color);
	padding: 1em 3em;
	color: var(--glow-color);
	font-size: 15px;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outiline: none;
	box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
	text-shadow: 0 0 0.5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
}

.glow-button::after {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 120%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--glow-spread-color);
	filter: blur(2em);
	opacity: 0.7;
	transfrom: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.glow-button:hover {
	color: var(--btn-color);
	background-color: var(--glow-color);
	box-shadow: 0 0 1em 0.225em var(--glow-color), 0 0 4em 2em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
}

.glow-button:active {
	box-shadow: 0 0 0.6em 0.25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color),
		inset 0 0 0.5em 0.25em var(--glow-color);
}

.rainbow {
	font-family: monospace;
	letter-spacing: 5px;
	text-decoration: underline;
}

.rainbow-text-animated {
	background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: rainbow_animation 6s ease-in-out infinite;
	background-size: 400% 100%;
}

@keyframes rainbow_animation {
	0%,
	100% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 0;
	}
}
